<div class="header">
  <div class="logo"><a href="index.html"></a><%= image_tag "logo1.png" %></div>
  <div class="search">
    <!--<form>-->
    <!--<input type="text" value="" />-->
    <!--<input type="submit" value="" />-->
    <!--</form>-->
  </div>
  <div class="clear"> </div>
</div>
<div class="nav">
  <ul>
    <li ><%=link_to "Home" , home_index_path %></li>
    <li><%=link_to "Gallery" , gallaries_path %></li>
    <li><%=link_to "Menu" , menus_index_path %></li>
    <li><%=link_to "Contact" , opinions_index_path %></li>
    <div class="clear"> </div>
  </ul>
</div>