<div class="main-body">
  <div class="grids">
    <div class="gallery">
      <ul>
        <li><%= image_tag "g1.jpg"%></li>
        <li><%= image_tag "g2.jpg"%></li>
        <li><%= image_tag "g3.jpg"%></li>
        <li><%= image_tag "g4.jpg"%></li>
        <li><%= image_tag "g5.jpg"%></li>
        <li><%= image_tag "g6.jpg"%></li>
        <li><%= image_tag "g7.jpg"%></li>
        <li><%= image_tag "g8.jpg"%></li>
        <li><%= image_tag "g9.jpg"%></li>
        <li><%= image_tag "g10.jpg"%></li>
        <li><%= image_tag "g11.jpg"%></li>
        <li><%= image_tag "g12.jpg"%></li>
        <li><%= image_tag "g13.jpg"%></li>
        <li><%= image_tag "g14.jpg"%></li>
        <li><%= image_tag "g1.jpg"%></li>
        <div class="clear"></div></ul>
    </div>

    <div class="clear"> </div>
  </div>
  <div class="clear"> </div>
</div>